<html lang="en">
<head>
  <meta charset=UTF-8>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notes | <%= title %></title>
</head>

<body>
  <nav>
    <div class="site-title">
      <a href="/"><h1>Notes</h1></a>
      <p>A notes app</p>
    </div>
    <ul>
      <li><a href="/">Notes</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/notes/create">New Note</a></li>
    </ul>
  </nav>

  <div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda veniam minus, earum modi maxime aspernatur id nesciunt eius ea in eos reprehenderit laborum eveniet voluptatibus, deleniti commodi sequi nihil fugit.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda veniam minus, earum modi maxime aspernatur id nesciunt eius ea in eos reprehenderit laborum eveniet voluptatibus, deleniti commodi sequi nihil fugit.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda veniam minus, earum modi maxime aspernatur id nesciunt eius ea in eos reprehenderit laborum eveniet voluptatibus, deleniti commodi sequi nihil fugit.</p>
  </div>
</body>
</html>